In [1]:
import  pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
from google.colab import files
upload=files.upload()

Saving 50_Startups.csv to 50_Startups.csv

In [3]:
startup=pd.read_csv('50_Startups.csv')
startup.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
startup.shape

(50, 5)

In [5]:
# getting the null values
startup.isnull().sum().sort_values(ascending = False)

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [6]:
#checking how much percent of that column is missing
startup.isnull().mean().sort_values(ascending = False)

R&D Spend          0.0
Administration     0.0
Marketing Spend    0.0
State              0.0
Profit             0.0
dtype: float64

In [7]:
#checking correlation of SalePrice with other columns
corr_ser = startup.corr().iloc[-1,:].sort_values(ascending = False)
corr_ser

Profit             1.000000
R&D Spend          0.972900
Marketing Spend    0.747766
Administration     0.200717
Name: Profit, dtype: float64

In [8]:
#selecting top 10 predictors
columns = corr_ser.index[:10]
columns

Index(['Profit', 'R&D Spend', 'Marketing Spend', 'Administration'], dtype='object')

In [9]:
startup2 = startup.loc[:,columns]
startup2.head()

      Profit  R&D Spend  Marketing Spend  Administration
0  192261.83  165349.20        471784.10       136897.80
1  191792.06  162597.70        443898.53       151377.59
2  191050.39  153441.51        407934.54       101145.55
3  182901.99  144372.41        383199.62       118671.85
4  166187.94  142107.34        366168.42        91391.77

In [10]:
startup2.isna().sum()

Profit             0
R&D Spend          0
Marketing Spend    0
Administration     0
dtype: int64

In [11]:
#seperating X and y
X =startup2.iloc[:,1:].values
y = startup2.iloc[:,0].values

In [12]:
#splitting train and test values
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size= 0.2,random_state = 0)

In [13]:
from sklearn.linear_model import Ridge
model = Ridge(normalize=True)

In [14]:
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Ridge())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * n_samples.
  FutureWarning,

Ridge(normalize=True)

In [15]:
#prediction
y_pred = model.predict(X_test)

In [16]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.6753379449571617